<h2>Eventos</h2>
<hr>
<div class="form-inline">
    <div class="form-group mb-2">
        <div class="col-auto">
            <label class="mx-2">Filtro:</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control mr-x" placeholder="buscar" [(ngModel)]="filtroLista">
        </div>
        <br>        
    </div>
    <br>
</div>
<h3 *ngIf="filtroLista">Buscar por: {{filtroLista}}</h3>
<table class="table table-stripped">
    <thead class="thead-dark table-dark">
        <tr>
            <th>
                <button class="btn btn-outline-light btn-sm" (click)="alterarImagem()">{{mostrarImagem ? 'Ocultar' : 'Exibir'}}</button>
            </th>
            <th>Id</th>
            <th>Tema</th>
            <th>Local</th>
            <th>Data</th>
            <th>Quantidade de Pessoas</th>
            <th>Lote</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
        <tr *ngFor="let evento of eventosFiltrados">
            <td>
                <img [collapse]="!mostrarImagem" 
                    [isAnimated]="true"
                    src="/assets/{{evento.imagemURL}}" alt="" 
                    [style.width.px]="widthImg"
                    [style.margin.px]="marginImg"
                >
            </td>
            <td>{{evento.eventoId}}</td>
            <td>{{evento.tema}}</td>
            <td>{{evento.local}}</td>
            <td>{{evento.dataEvento}}</td>
            <td>{{evento.qtdPessoas}}</td>
            <td>{{evento.lote}}</td>
            <td>
                <button class="btn btn-primary btn-sm mx-2">Editar</button>
                <button class="btn btn-danger btn-sm">Excluir</button>
            </td>
        </tr>
    </tbody>
    <tfoot *ngIf="!eventos.length">
        <tr>
            <td colspan="8" class="text-center">Nenhum evento encontrado</td>
        </tr>
    </tfoot>
</table>



